/* global stuff */
.w-100{
	width: 100%;
}
.hidden{
	visibility: hidden;
}
.mar-top-20{
	padding-top: 20px;
}
.a-right{
	float: right;
}
.toggle {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 24px;
}
.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #00b511;
}
input:focus + .slider {
  box-shadow: 0 0 1px #00b511;
}
input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* show info header */
.show_can {
	width: 100%;
	min-height: 150px;
	position: relative;
}
.show_can img.poster{
	float: left;
	height: 150px;
	min-width: 100px;
	margin-right: 10px;
}
.show_info .headding{
	font-size: 22px;
	font-weight: bold;
	cursor: pointer;
	text-decoration: underline;
}
.show_info .headding.nolink, .show_info .headding.nolink:hover{
	color: var(--color-main-text);
	text-decoration: none;
	cursor: auto;
}
.show_info .headding:hover{
	color: #aaa;
	text-decoration: none;
}
.show_info .air_date{
	color: #aaa;
}
.show_info .not_this, .restore{
	background: rgba(var(--color-main-background), 0.85);
	position: absolute;
	border-radius: 5px;
	padding-left: 10px;
	bottom: 5px;
	right: 0px;
}
#display-can .message {
	background-color: #e5eff8;
	border-radius: 20px;
	border: 1px solid #aaa;
	padding: 10px;
	margin-top: 100px;
	left: 50%;
	right: 50%;
	height: 150px;
	width: 300px;
	position: absolute;
}


/* file table */
.file_list {
	margin-top: 20px;
	width: 100%;
}
.file_list tr {
	height: 51px;
	border-bottom: 2px solid #000;
}
.file_list th {
	font-size: 18px;
	color: var(--color-primary-text);
	padding: 0px;
}
.file_list th #update-all {
	padding-right: -10px !important;
}
.file_list td {
	font-size: 15px;
}
.file_list .selection {
	padding: 12px 14px;
	width: 30px;
}
.file_list .name {
	width: auto;
	white-space: normal;
}
.file_list .load{
	padding: 5px;
}
.file_list td.name .from {
	color: #d04a4a;
}
.file_list .name .to {
	color: #225518;
}
.file_list .buttons {
	width: 100px;
}
.file_list .buttons {
	text-align: right;
}


/* Loading Container */
#loading-can > div{
	margin-bottom: 10px;
}
#loading-can{
	background: rgba(var(--color-main-background), 0.85);
	position: absolute;
	border-radius: 5px;
	left: 50%;
	top: 50vh;
	transform: translate(-50%, -50%);
	text-align: center;
	padding: 20px 8px 5px 8px;
	z-index: 1000;
}
#loading-can.hidden{
	display: none;
}

/* hedding style */
#headding{
	padding-top: 15px;
	padding-left: 10px;
}
.current_folder a:hover{
	text-decoration: underline;
}
.icon-unknown{
	color: var(--color-main-text);
	background-image: url('../img/question-solid.svg');
}
.reload{
	width: 10px;
	height: 10px;
	display: inline-block;;
	margin-left: 10px;
	color: var(--color-main-text);
	background-image: url('../img/reload.svg');
	background-size: 10px 10px;
}
.reload:hover{
	width: 10px;
	height: 10px;
	background-color: #aaa;
	-webkit-mask:  url('../img/reload.svg');
	mask: url('../img/reload.svg');
	background-size: 110x 10px;
}

/* content styles */
#app-content{
	width: 100%;
	clear: both;
}
#content, #app{
}
#display-can{
	padding: 10px;
}
#app-settings-content a.help{
	float: right;
}
#app-settings-content a{
	font-size: 10px;
	text-decoration: underline;
}
#app-settings-content a:hover{
	color: #aaa;
}
